<p>proyectos works!</p>

<form>
    <label for="nombre">Nombre del Proyecto:</label>
    <input type="text" id="nombre" name="nombre" [(ngModel)]="inputNombre"/>
    <label for="presupuesto">Número:</label>
    <input type="text" id="presupuesto" name="presupuesto" [(ngModel)]="inputPresupuesto"/>
    <input type="button" class="btn btn-primary" value="Añadir" (click)="agregar()"/>
</form>

<ul>
    <li *ngFor="let p of this.arrayProyecto; let i = index">
        {{i+1}}. {{p.nombre}} - {{ p.presupuesto }}
    </li>
</ul>
<!-- [(ngModel)]="inputPresupuesto" -->